$background-color:#09203D;
$Aldrich: 'Aldrich', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Play: 'Play', sans-serif;
$footer-color:#292929;
$bg-white:antiquewhite;
$linkbox-bg-color:gray;
$background-location:'../media/keyboard.jpg';

$Lato: 'Lato', sans-serif;
$Playfair: 'Playfair Display', serif;
$Raleway: 'Raleway', sans-serif;
$Roboto:'Roboto', sans-serif;







