$background-color:#09203D;
$OpenSans: 'Open Sans', sans-serif;
$footer-color:#292929;
$bg-white:antiquewhite;
$linkbox-bg-color:gray;
$background-location:'../media/keyboard.jpg';
$link-blue:#337ab7;
$link-blue-hover:#23527c;
$Lato: 'Lato', sans-serif;
$Roboto:'Roboto', sans-serif;
$Aldrich:'Aldrich', sans-serif;
$github-invert:'../media/Github_invert.png';







