@media (max-width:320px)  {
  .icon {
    font-size: .55em;
  }

  /*Chris Cantu*/
  .name-title {
    font-size: 6em;
  }

  .app-links a {
    font-size: .7em;
  }

  .nav li a {
    padding: 10px 5px;
  }

  footer {
    width:500px;
  }

  .main {
    margin-bottom: 500px;

  }


  .thumbnail-text {
    font-size: .75em;
  }

  .other-social-icons {
    width:25px;
    height:25px;
  }

  .nav {
    display: flex;
  }
}


@media (max-width:480px) and (min-width:320px)  {
  .main {
    margin-right: 0px;
  }

  .tech-icons,
  .tech-icons-life {
    font-size: 1.65em;
    margin-top: 7px;
  }

  .nav li a {
    padding: 1px 5px;
  }

   .other-social-icons {
    width:25px;
    height:25px;
  }

   /*Chris Cantu*/
  .name-title {
    font-size: 6em;
  }

  .main {
    margin-bottom: 600px;
  }

   .thumbnail-text img {
    width: 55px
  }

  .nav {
    display: flex;
  }

/*Github AppSite**/
  .app-links a {
    font-size: .8em;
  }

}

@media (max-width:600px) and (min-width: 481px) {
  .nav {
    display: flex;
  }

   .other-social-icons {
    width:35px;
    height:35px;
  }

  .main {
    margin-bottom: 600px;
  }
}


@media (max-width:801px) and (min-width: 601px)  {
  .main {
    margin-bottom: 600px;
  }

  .nav {
    display: flex;
  }


}

@media (min-width: 802px) {


}

