html {
  overflow-x:hidden;

}

body {
  color:$bg-white;
  background: url($background-location);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


