/*#app {
  background : $background-color;
  background: -webkit-linear-gradient(red, yellow);
  background: -o-linear-gradient(red, yellow);
  background: -moz-linear-gradient(red, yellow);
  background: linear-gradient($background-color, gray);
  color:white;
}*/

body {
  background : $background-color;
  color:white;
}

h1 {

}

