.footer-body {
  background-color: $footer-color;
  padding: 20px 0px 100px 10px;
}

.footer-title {
  margin-bottom:20px;
  font-size: 2em;
}

.footer-links a {
  &:hover {
    text-decoration: none;
  }
}

.footer-router-links p {
  color:$link-blue;
  cursor: pointer;
  &:hover {
    color:$link-blue-hover;
  }
}