.name-title {
  font-family: $Aldrich;
  text-align: center;
  font-size: 7em;
}

.job-title {
  font-family: $Aldrich;
  text-align: center;
  font-size: 3em;
}

.intro {
  margin: 100px 0px 25px 0px;
}

.menu-box {
  display: flex;
  justify-content: center;
}




