img {
  width:250px;
  height:250px;
  margin-top: 20px;
}

.app-links {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.link-box {
  color:white;
  margin:10px;
  padding: 0px 15px 5px 15px;

  h1 {
    font-size: 3em;
    font-family: $Roboto;
  }
}

.site-image {
  width: 100%;;
  height: 150px;
  margin-top: 0px;
  box-shadow: 5px 5px 5px rgba(grey, .5);
  transition: all .4s;

  &:hover {
    transform: scale(1.2);
    z-index: 100;
  }
}

.app-icon img {
  transition: all .4s;

  &:hover {
    transform: scale(1.2);
    z-index: 100;
  }
}

.project-row {
  animation: .5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.5s 1 popIn;
  animation-fill-mode: backwards;
}


@keyframes popIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.thumbnail {
  background-color: $bg-white;
  transition: all .4s;
}

.thumbnail-title {
  text-align:center;
  font-weight: bold;
}

.thumbnail-text {
  text-align: center;

  img {
    width:100px;
    margin:0px;
  }
}

.thumb-box {
  margin: 20px;
  text-align: left;
  margin-bottom: 50px;
}

.download-links {
  display: flex;
  justify-content: space-around;
}

.border {
  border: 1px solid silver;
  padding:4px;
}

