.tech-icons {
  width: 100%;
  margin-left: 54px;
  font-size: 3em;
}

.tech-icons-life {
  width: 100%;
  margin-left: 35%;
  font-size: 3em;
}

.icon {
  margin:0px 5px;
}

.icon-nodejs {
  color:green;

}

.icon-mongodb {
  color:green;

}

.icon-react {
  color:blue;

}

.icon-express {
  color:black;

}
.icon-express-alt {
  margin-right:10px;
  font-size: 1.2em;
  color:black;

}

.icon-bootstrap {
  color:purple;

}

.icon-github-circle {
  color:white;
  font-size: 2em;
  margin: 0px 10px;
}

.other-social-icons {
  width:35px;
  height:35px;
  margin:5px 0px;
  padding:0px;

  width:45px;
  height:45px;
  margin:0px 0px 10px 0px;

  &:hover, &:visited, &:focus, &:active {
    background-size:contain;
    -webkit-filter:invert(100%);
    filter:invert(100%);
  }

}

.social-buttons {
  padding:20px 0px 10px 0px;
}

@media screen and (max-width: 1200px) {
 .tech-icons {
    margin-left: 7%;
  }

}

@media screen and (max-width: 835px) {
 .tech-icons {

  margin-left: 30px;

}

.tech-icons-life {
    margin-left: 78px;
  }

}

@media screen and (max-width: 768px) {
  .icon, .other-social-icons {
    width:40px;
    height:40px;
  }
}

@media screen and (max-width: 522px) {

  .icon {
   font-size: .6em;
   margin:0px 2px;
  }

  .tech-icons {
    margin-left: 7%;
  }

  .tech-icons-life {
    margin-left: 23%;
  }
}

@media screen and (max-width: 415px) {

  .icon {
   font-size: .6em;
   margin:0px 2px;
  }

  .tech-icons {
    margin-left: 7%;
  }

  .tech-icons-life {
    margin-left: 23%;
  }
}



