.tech-icons {
  margin-left: 18%;
  font-size: 3em;
}

.icon-nodejs {
  color:green;
}

.icon-mongodb {
  color:green;
}

.icon-react {
  color:blue;
}

.icon-express {
  color:black;
}
.icon-express-alt {
  margin-right:10px;
  font-size: 1.2em;
  color:black;
}

.icon-bootstrap {
  color:purple;
}

.icon-github-circle {
  color:white;
  font-size: 2em;
}

.other-social-icons {
  width:75%;
  height: 75%;
}