.tech-icons {
  width: 100%;
  //margin-left: 54px;
  display:flex;
  justify-content: center;
  font-size: 3em;
}

.tech-icons-life {
  width: 100%;
  //margin-left: 35%;
  font-size: 3em;
  display:flex;
  justify-content: center;
}

.icon {
  margin:0px 5px;
}

.icon-caption {
  font-size: 12px;
  position: absolute;
  display: none;
  font-weight: bold;
}

.icon-group {
  transition: all .4s;

  &:hover {
    transform: translateY(-15px) scale(1.1);
    & .icon-caption {
      display: block;
    }
  }
}

.icon-nodejs {
  color:green;

}

.icon-mongodb {
  color:green;

}

.icon-postgres {
  color: #4491AA;

}

.icon-angular {
  color: red;
}

.icon-react {
  color:blue;

}

.icon-express {
  color:black;

}
.icon-express-alt {
  margin-right:10px;
  font-size: 1.2em;
  color:black;

}

.icon-bootstrap {
  color:purple;

}

.icon-github-circle {
  color:white;
  font-size: 2em;
  margin: 0px 10px;
}

.other-social-icons {
  width:35px;
  height:35px;
  margin:5px 0px;
  padding:0px;

  width:45px;
  height:45px;
  margin:0px 0px 10px 0px;

  &:hover, &:visited, &:focus, &:active {
    background-size:contain;
    -webkit-filter:invert(100%);
    filter:invert(100%);
  }

}

.social-buttons {
  padding:20px 0px 10px 0px;
}






